#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  top: 0;
}

@media screen and (max-width: 620px) and (max-height: 1200px) {
  #no-mobile {
    display: none;
  }
}
